datasets==3.6.0
matplotlib==3.10.7
numpy==1.26.4
pandas==2.3.3
protobuf==6.33.4
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
sentencepiece==0.2.1
tokenizers==0.20.3
torch==2.5.1+cu121
torchvision==0.20.1+cu121
tqdm==4.67.1
transformers==4.45.2
accelerate==1.12.0
